* {
  border: solid 1px red;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70vh;
  width: 60vw;
  background-color: gray;
}
